<section id="title">
    <div class="container">
        <div class="row 200%">
            <div class="col-lg-6 col-lg-offset-3">
            <pre class="text-center"><%= @title1%>
<%= @title2%>
<%= @title3%>
- Memorize English words -</pre>
            </div>
        </div>
    </div>
</section>
<section id="body">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <a href="/init" class="btn btn-success btn-lg" role="button">Game Start!</a>
            </div>
        </div>
    </div>
</section>
